@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/inter"; 

:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
  --background-dark: #0a0a0a;
  --foreground-dark: #ededed;
}

body {
  background: var(--background-light);
  color: var(--foreground-light);
  transition-property: background, color;
  transition-duration: 300ms;
}

.dark body {
  background: var(--background-dark);
  color: var(--foreground-dark);
}

html {
  font-family: 'Inter', sans-serif;
}

@keyframes bounceDot {
  0%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
}

.bouncing-dots .dot {
  animation: bounceDot 1.2s infinite;
  display: inline-block;
}

.bouncing-dots .dot:nth-child(1) {
  animation-delay: 0s;
}
.bouncing-dots .dot:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-dots .dot:nth-child(3) {
  animation-delay: 0.4s;
}
