header {
  position: fixed;
  width: 100vw;
  background-color: white;
  padding-top: 1%;
  top: 0;
  left: 0;
  z-index: 999;
}

header .header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

header img {
  width: 40%;
}

header .header_right {
  display: flex;
}

header .header_right_icon {
  margin-left: 5%;
  display: flex;
}

header .header_right_icon > a {
  padding-left: 1vw;
  position: relative;
  top: 30%;
}

header .header_right .header_right_search {
  display: flex;
  position: relative;
  top: 70%;
}
.header_right .header_right_search i {
  position: relative;
  top: 40%;
}

header .header_right .header_right_search input {
  border: none;
  caret-color: var(--detail-color);
  height: 100%;
  outline: none;
  padding: 0 5%;
  flex: 1;
}

header a {
  color: black;
}

/* Navbar */
header .navbar {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0;
}

header .navbar ul {
  list-style: none;
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

header .navbar li {
  position: relative;
  display: inline-block;
  padding: 10px;
}

header .navbar a {
  text-decoration: none;
  font-size: 16px;
}
header .navbar li a::after {
  content: "";
  width: 90%;
  height: 7px;
  background: var(--highlight-color);
  left: 5%;
  bottom: 12px;
  z-index: -1;
  position: absolute;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: right;
}
header .navbar .menu_1 ul li a::after,
header .navbar .menu_2 ul li a::after,
header .navbar .menu_3 ul li a::after {
  width: 0;
}
header .navbar li a:hover:after {
  transform: scale(1);
  transform-origin: left;
}

.navbar a:hover,
.navbar a.active {
  color: rgba(0, 0, 0);
}

header .navbar li:focus-within ul,
header .navbar li:hover ul,
header .navbar li:hover img {
  display: flex;
  flex-direction: column;
}

.navbar .bg_menu_1 {
  position: absolute;
  left: -34.75vw;
  top: 100%;
  background-color: var(--navbar-menu-color);
  width: 100vw;
}

.navbar .menu_1 {
  display: flex;
  padding: 0% 10%;
}

.navbar .menu_1 ul,
.navbar .menu_1 img {
  padding-top: 2%;
  justify-content: flex-start;
  display: none;
}
header .navbar .menu_2 ul {
  background-color: var(--navbar-menu-color);
  top: 100%;
  position: absolute;
  width: 250%;
  display: none;
}

header .navbar ul li ul li a {
  color: white;
}

.navbar ul li ul li a:hover,
.navbar ul li ul li a.active {
  color: var(--detail-color);
}
header .navbar .menu_2 ul {
  width: 100vw;
  top: 100%;
  left: -77.9vw;
}
.cart-dropdown {
  display: none;
  position: absolute;
  top: 13vh;
  right: 9vw;
  background-color: #fff;
  border: 1px solid var(--origin3-color);
  border-radius: 10px;
  padding: 13px;
}

.cart-dropdown ul {
  list-style-type: none;
}

.cart-dropdown li {
  margin-bottom: 10px;
}

#cart-count {
  box-shadow: 0 0 1px black;
  color: black;
  border-radius: 50%;
  width: 0.8vw;
  height: 0.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  position: absolute;
  top: 1.5vh;
  left: 1.5vw;
}
#cart-items li {
  display: flex;
  height: 7vh;
}
#cart-items {
  padding: 0;
}
#cart-items li img {
  width: 7vh;
  margin: 3px;
}

#rm-btn {
  position: absolute;
  right: 1vw;
}

#Checkout {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--highlight-color);
  color: white;
  font-weight: 600;
  border: none;
  align-items: center;
}

#Checkout a {
  text-decoration: none;
  font-size: 12px;
}
#Checkout:hover {
  box-shadow: 2px 2px 1px black;
}
#Checkout:hover a {
  color: white;
}
.quantity-controls button {
  border-radius: 50%;
  width: 1.5vw;
  height: 1.5vw;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.logo{
  width: 85px;
  height: 85px;
}