.lienhe_header {
  padding-top: 9%;
}
.lienhe_header h1 {
  position: relative;
  font-size: 50px;
  font-weight: 600;
}
.lienhe_header hr {
  position: relative;
  top: 4.5vw;
  left: -2vw;
  width: 20%;
  color: #D4BEE4;
}
.lienhe_header .content {
  width: 100vw;
  padding: 5%;
  display: flex;
  justify-content: space-between;
}  
.lienhe_header .content_1 {
  padding-right: 8%;
}
.lienhe_header .content_1 td {
  padding-top: 3%;
}
.lienhe_header .content_1 .ten_email {
  padding-left: 5%;
}
.lienhe_header .content_1 input {
  width: 98%;
  border: 1px solid black;
  padding: 10px;
}
.lienhe_header .content_1 textarea {
  padding: 2%;
  width: 100%;
}
.lienhe_header .content_1 button {
  width: 250px;
  margin-top: 3%;
  font-size: 20px;
  background-color: var(--origin1-color);
  color: white;
  padding: 10px;
}
.lienhe_header .content_1 button:hover {
  background-color: #D4BEE4;
  color: black;
}
.lienhe_header .content h2 {
  font-size: 30px;
}
.lienhe_header .content_2 p {
  line-height: 2;
}
.lienhe_header .content_2 .footer_icon {
  margin: 5% 0 5%;
}

.lienhe_header .content_2 .footer_icon a {
  color: black;
}
.lienhe_header .content_2 .footer_icon a:hover {
  color: var(--origin1-color);
}
