.register-form {
    position: relative;
    margin-top: 200px;
    margin-left: 10vw;
    width: 80vw;
}

#name, #surname, #email, #password, #confirm-password {
    border: 1px solid;
    width: 50vw;
    height: 8vh;
    padding-left: 1vw;
    margin-bottom: 1vh;
}
 
#name-label, #surname-label, #email-label, #password-label, #confirm-password-label {
    color: var(--navbar-menu-color);
    font-size: 20px;
}

#register-form {
    margin-left: 15vw;
}

#error-message {
    font-size: 25px;
    color: var(--navbar-menu-color);
}

.input-group {
    display: block;  /* Giữ phần tử cha là block để liên kết "Chúng tôi sẽ gửi..." đứng riêng biệt */
}

.spaced-words {
    word-spacing: 1vw;
}

.register-header {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: var(--navbar-menu-color);
}

.link-container {
    margin-bottom: 10vh;
}

.link {
    color: var(--navbar-menu-color);
    padding: 0;
    border: none;
    background: none;
    font-size: 20px;
    text-decoration: none;
}

.forgot-password {
    display: block;  /* Đảm bảo liên kết "Chúng tôi sẽ gửi..." ở trên một dòng riêng */
    margin-bottom: 10px;  /* Tạo khoảng cách dưới liên kết này */
}

.action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    height: 8vh;
    margin-top: 20px;
    margin-left: 50px;
}

.cancel{
    display: flex;
    justify-content: center;
    margin-right: 180px;
    margin-left: 140px;
    align-items: center;
}

.other_button {
    display: inline-block;
    height: 10vh;
    width: 20vw;
    color: whitesmoke;
    border: 1px solid;
    background-color: var(--origin1-color);
    margin: center;
}

