.sanpham_tarot {
  margin-top: 12%;
}
.sanpham_tarot p {
  color: var(--detail-color);
}
.banner img {
  width: 90vw;
  height: 45vw;
  position: relative;
  left: -1.5%;
}
.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #000;
  cursor: pointer;
}

/*filter bar */
.filter-bar {
  text-align: center;
  display: flex;
  margin: 20px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 65%;
  margin-left: 180px;
}
.filter-button {
  font-size: 15px;
  margin: 8px;
  padding: 1%;
  width: 10vw;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.filter-button:hover,
.filter-button.active {
  background-color: var(--highlight-color);
  font-weight: 600;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.product-card.show {
  animation: fadeIn 1.5s both;
}
.product-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  left: 3%;
}
.product-card {
  margin: 5% 0;
}
.product_slide-container .product-card {
  margin: 0 2.5%;
}
.product_slide h1 {
  font-weight: 600;
  color: var(--detail-color);
  margin: 3% 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#load-more-button {
  background-color: var(--highlight-color);
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding: 1% 5%;
  position: relative;
  left: 43%;
}
#load-more-button:hover {
  opacity: 0.9;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#add-cart {
  left: 77%;
}
