:root {
  --title-color: #000000;
  --detail-color: #424040;
  --highlight-color: #D4BEE4;
  --navbar-color: #D4BEE4;
  --navbar-menu-color: rgba(81, 27, 119, 0.7);
  --origin1-color:rgba(81, 27, 119, 1);
  --origin2-color:#9B7EBD;
  --origin3-color:#D4BEE4;
}
@font-face {
  font-family: 'CustomFont1';
  src: url('../fonts/CormorantInfant-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'CustomFont1';
  margin: 0;
  padding: 0;
  font-size: 17px;
  letter-spacing: 0.25px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
} 
.container {
  margin: 0 auto;
}
.flex {
  display: flex;
}
p,
b,
li,
a {
  font-size: 17px;
}
