* {
  font-size: 16px;
}

body {
  background-color: #fff;
}
.container{
  margin-top: 12%;
}
.flex-container {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  height: 200vh;
  display: flex;
  width: 90vw;
}
.left-container a {
  text-decoration: none;
  color: black;
}
.left-container a:hover {
  color: rgb(105, 105, 105);
  opacity: 0.8;
}
.left-container h1 {
  text-align: center;
  font-weight: 600;
}
.left-container h2 {
  margin-top: 2vh;
  font-size: 23px;
  font-weight: 540;
}
.left-container #blue {
  color: var(--origin1-color);
}
#already {
  margin-top: 4%;
}
#name,
#address {
  padding-left: 3%;
  border: var(--origin2-color) 1px solid;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 2%;
  width: 45vw;
  height: 5vh;
}
#selector-container select {
  height: 5vh;
  width: 30.7%;
  border: var(--origin2-color) 1px solid;
  border-radius: 3px;
  box-sizing: border-box;
}
.radio-border,
.radio-border2 {
  margin-bottom: 2%;
  width: 93%;
  height: 8vh;
  display: flex;
  align-items: center;
  border: var(--origin2-color) 1px solid;
  border-radius: 3px;
  box-sizing: border-box;
  padding-left: 1%;
}
.radio-border label,
.radio-border2 label {
  margin-left: 1%;
}
.radio-border2 img {
  width: 30px;
  height: 30px;
}

#discount-container {
  display: flex;
  margin-top: 5vh;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
}
#apply {
  color: white;
  font-weight: bold;
  background-color: var(--origin2-color);
  height: 7vh;
  border: var(--origin2-color) 1px solid;
  border-radius: 3px;
  box-sizing: border-box;
  width: 30%;
}
#right-detail1 {
  font-weight: bold;
}
#vnd {
  font-size: 12px;
}
#final-price {
  font-size: 21px;
  font-weight: 520;
}
#right-detail2 {
  font-weight: bold;
}

#discount-code {
  padding-left: 3%;
  height: 7vh;
  border: var(--origin2-color) 1px solid;
  border-radius: 3px;
  box-sizing: border-box;
  width: 67%;
}
#button-ref {
  color: white;
  width: 10vw;
  height: 5vh;
  border-radius: 3px;
  background-color: var(--origin1-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  left: -3vw;
  margin-left: 410px;
  padding:20px;
}

#sign-in-ref {
  text-decoration: underline;
  color: var(--origin1-color);
}
#atstore #cursor {
  font-weight: bold;
}
#e-p-container {
  width: 45vw;
  margin-top: 2%;
}
#phone {
  padding-left: 3%;
  height: 5vh;
  border: var(--origin2-color) 1px solid;
  border-radius: 3px;
  box-sizing: border-box;
  width: 49.5%;
}

#selector-container {
  margin-top: 2%;
}
.left-container {
  flex: 1; /* Grow to fill available space */
  border-right: 2px solid var(--origin2-color); /* Add a 2px solid line to the right of left-container */
  padding-right: 20px; /* Add some padding to create space between the line and content */

  width: 55%;
  height: 100%;
}
.flex-container .left-container::after {
  content: "";
  display: block;
  height: 100%; /* Make the line extend the full height of the container */
  width: 2px;
  background-color: var(--origin2-color);
  position: absolute;
  top: 0;
  right: 0;
}
.right-container {
  /* Grow to fill available space */
  padding-left: 20px; /* Add some padding to create space between the line and content */

  width: 45%;
  height: 100%;
}
.right-container h2 {
  margin-top: 7vh;
  font-size: 23px;
  font-weight: 540;
}
#price-detail-container-1 {
  display: flex;
  justify-content: space-between;
}
#price-detail-container-2 {
  display: flex;
  justify-content: space-between;
}
#final-price-container {
  display: flex;
  justify-content: space-between;
}
.underline {
  text-decoration: underline;
}
#sanpham-gia-container {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
}
#gia-sanpham {
  font-weight: bold;
  box-sizing: border-box;
  padding-top: 3vh;
}
#sanpham-detail-flex {
  height: 15vh;
  display: flex;
  width: 40%;
  justify-content: space-between;
}
#sanpham-detail-flex img {
  height: 80%;
  border-radius: 15px;
}
#thanh-toan-footer {
  margin-top: 10vh;
  text-align: center;
}
#cod-description {
  padding: 1vw;
  width: 93%;
  height: 10vh;
  border-left: 1px var(--origin2-color) solid;
  border-right: 1px var(--origin2-color) solid;
  position: relative;
  top: -1%;
  margin: 0;
}
#cart-items li {
  display: flex;
  height: 10vh;
  margin-top: 10px;
}
#cart-items {
  padding: 1%;
}
#cart-items li img {
  width: 10vh;

  margin-right: 10px;
}

#rm-btn {
  position: absolute;
  right: 5%;
}
.quantity-controls {
  display: flex;
}
.quantity-controls button {
  border-radius: 50%;
  width: 1.5vw;
  height: 1.5vw;
  display: flex;
  margin: 0 2%;
  align-items: center;
  justify-content: center;
}
