.Gift-voucher-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30vh;
  margin-left: 5vw;
  width: 95vw;
  background-color: #D4BEE4;
  text-align: center;
}
.Gift-voucher-container img {
  width: 35vw;
  padding: 10px;
  margin-left: 70px;
}
.Flex_container_uudai {
  margin-top: 10vh;
  display: flex;
  width: 90%;
  margin-left: 5vw;
} 
.uudai_title {
  text-align: center;
  color: var(--title-color);
  font-size: 20px;
  font-weight: bolder;
  margin: 5vh 0;
}
.content_flex_uudai_left {
  padding-top: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 25%;
  height: 100%;
  text-align: center;
  font-size: 23px;
  font-weight: bolder;
  color: var(--title-color);
}
.content_flex_uudai_right {
  width: 75%;
  height: 100%;
}
.Flex_container_carousel_uudai {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  justify-content: space-between;
}
.content_carousel_uudai {
  width: 30%;
  height: 100%;
}
.content_carousel_uudai img {
  height: 50vh;
  width: 100%;
}
.carousel-inner {
  height: 100%;
}

.sanpham_description {
  font-size: 16px;
  color: var(--detail-color);
}
.sanpham_price {
  font-size: 20px;
  color: var(--title-color);
}
.product-image {
  height: 70%;
  width: 100%;
}
.product-card {
  width: 30%;
}
.product-card .product-image img {
  height: 100%;
  width: 100%;
}